/* Style the topnav links */
.topnav {
    background-color: $textcolor;
    position: fixed;
    top: 0;
    width: 100%;

    a {
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

        &:hover {
            background-color: $navbackgroundcolor;
            color: black;
        }

        .active {
            background-color: $navbackgroundcolor;
            color: white;
        }
    }
}

